{% extends "components/base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title text-center arvo h1">
            Covid-19 Dashboard
        </h1>
        <p class="subtitle text-center" id="summary" hidden>(Last Updated</p>
        <hr>
        <p class="subtitle text-center is-size-4 kanit">India Overall Statistics: </p>
        <div class="container">
            <div class="columns" id='dashboard-summary'>
                <div class="column" id="total">

                </div>
                <div class="column" id="foreigner" >

                </div>
                <div class="column" id="indian">

                </div>
                <div class="column" id="deaths">

                </div>
            </div>
        </div>
        <hr>
        <p class="subtitle text-center is-size-4 kanit" id="state-wise-data">State Wise Statistics:</p>
        <div class="container">
            <div class="field">
                <div class="control ">
                    <input class="input is-dark" type="text" id = "stateName" onkeyup = "searchFunction()"  placeholder = "Search for state ...">
                </div>
            </div>
            <table id="stateTable" class="table is-striped is-bordered is-hoverable">
                <thead class="has-background-dark">
                    <tr>
                        <td class="has-text-white-bis">
                            State
                        </td>
                        <td class="has-text-white-bis text-center">
                            Total Confirmed
                        </td>
                        <td class="has-text-white-bis text-center">
                            Active
                        </td>
                        <td class="has-text-white-bis text-center">
                            Recovered
                        </td>
                        <td class="has-text-white-bis text-center">
                            Deaths
                        </td>
                        <td class="has-text-white-bis text-center">
                            Indians
                        </td>
                        <td class="has-text-white-bis text-center">
                            Foreigners
                        </td>
                    </tr>
                </thead>
                <tbody id="regional-data">

                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    dashboard = document.getElementById('dashboard-summary')
    $( document ).ready(function() {
        $.getJSON("https://api.rootnet.in/covid19-in/stats/latest", function(result){
            var summary = result['data']['summary'];
            var regional = result['data']['regional'];
            var refresh = result['lastRefreshed'].split("T");

            document.getElementById('summary').innerHTML += `
            ${refresh[0]} , ${refresh[1]} )
            `;
            document.getElementById('total').innerHTML += `
            <div class="card">
                <div class="card-content">
                    <p class="title">
                    ${summary['total']}
                    </p>
                    <p class="subtitle">
                    Total
                    </p>
                </div>
            </div>
            `;
            document.getElementById('deaths').innerHTML += `
            <div class="card has-background-danger">
                <div class="card-content">
                    <p class="title">
                    ${summary['deaths']}
                    </p>
                    <p class="subtitle">
                    Deaths
                    </p>
                </div>
            </div>
            `;
            document.getElementById('indian').innerHTML += `
            <div class="card has-background-success">
                <div class="card-content">
                    <p class="title">
                    ${summary['discharged']}
                    </p>
                    <p class="subtitle">
                    Recovered  
                    </p>
                </div>
            </div>
            `;
            document.getElementById('foreigner').innerHTML += `
            <div class="card has-background-info">
                <div class="card-content">
                    <p class="title">
                    ${summary['total'] - summary['deaths'] - summary['discharged']}
                    </p>
                    <p class="subtitle">
                    Active  
                    </p>
                </div>
            </div>
            `;

            for(var i = 0 ; i <= 34 ; i++)
            {
                document.getElementById('regional-data').innerHTML+= `
                <tr>
                    <td>${regional[i]['loc']}</td>
                    <td class="text-center">${regional[i]['totalConfirmed']}</td>
                    <td class="text-center">${regional[i]['totalConfirmed']-regional[i]['discharged']-regional[i]['deaths']}</td>
                    <td class="text-center">${regional[i]['discharged']}</td>
                    <td class="text-center">${regional[i]['deaths']}</td>
                    <td class="text-center">${regional[i]['confirmedCasesIndian']}</td>
                    <td class="text-center">${regional[i]['confirmedCasesForeign']}</td>
                </tr>
                `;
            } 
            });
        });

        // $.ajax({
        //     url: 'https://api.rootnet.in/covid19-in/stats/latest',
        //     type: 'POST',
        //     dataType: 'json',
        //     contentType: 'application/json',
        //     headers:   {
        //         "Access-Control-Allow-Origin":"*",
        //     },
        //     success: function (data) {
        //                 console.log(data);
        //             }
        // });
    // });

    function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("stateName");
            filter = input.value.toLowerCase();
            table = document.getElementById("stateTable");
            tr = table.getElementsByTagName("tr");
            for(i = 0; i < tr.length; i++) {
                // first column for state name
                td = tr[i].getElementsByTagName("td")[0];
                if(td) {
                    txtValue = td.textContent || td.innerText;
                    // indexof(filter) return first index of substring found
                    if(txtValue.toLocaleLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
</script>
{% if alert %}
<script> window.alert("Success");</script>
{% endif %}
{% endblock %}