{% extends "components/base.html" %}
{% block content %}
<style>
    /* Styles go here */

.validation {
  position: relative;
}
.input-help {
  position:absolute;
  z-index: 100;
  top: 61px;
  right: 0;
  width: 200px;
  padding: 10px;
  background: #fefefe;
  font-size: .875em;
  border-radius: 5px;
  box-shadow: 0 1px 3px #aaa;
  border: 1px solid red;
  opacity: 0.9;
}
.input-help::before {
  content: "\25b2";
  position: absolute;
  top: -12px;
  left: 90px;
  right: 0;
  font-size :16px;
  line-height: 16px;
  color: red;
  text-shadow: none;
}
.input-help p {
  margin-bottom: 0;
}
.input-help ul {
  margin-top: 10px;
}

/*Show red border if kept the input empty after touching*/
.ng-touched.ng-invalid-required {
	border-color: red;
}
/* Show red border when stuff has been typed in, but its invalid */
.ng-dirty.ng-invalid {
  border-color: red;
}
/*Show normal border color when typed in for the first time*/
.ng-untouched.ng-invalid {
	border-color: #ccc;	
}
.ng-submitted input.ng-invalid{
  border-color: red;
}
</style>
<script>
    var app = angular.module("patient", []);
</script>
<div ng-app="patient" class="container mt-4 mb-3 " style="background-color: #e3f2fd; padding-top: 15px; padding-bottom: 15px; max-width: 700px;">
    <form action="/addpatient" method="POST" name="createLogin">
        <section class="section">
            <h1 class="h2 text-center">Add Patient</h1>
            <div class="field">
                <label class="label">Patient Id</label>
                <div class="control">
                    <input class="input is-info" type="number" id="id" name = "id" placeholder="Number input" ng-model="pid" required>
                    <div class="input-help" ng-show="(createLogin.$submitted && createLogin.id.$invalid) || (createLogin.id.$touched && createLogin.id.$invalid)">
                        <p ng-show="createLogin.id.$error.required">This field is required</p>
                        <p ng-show="createLogin.id.$error.number">Enter a valid Patient ID<p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control ">
                <input class="input is-info" type="text" id="name" name = "name" placeholder="Text input" ng-model="name" required>
                <div class="input-help" ng-show="(createLogin.$submitted && createLogin.name.$invalid) || (createLogin.name.$touched && createLogin.name.$invalid)">
                    <p ng-show="createLogin.name.$error.required">This field is required</p>
                </div>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                <div class="select is-info is-fullwidth">
                    <select name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    </select>
                </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Age</label>
                <div class="control">
                    <input class="input is-info" type="number" id="age" name = "age" placeholder="Number input" ng-model="age" required>
                    <div class="input-help" ng-show="(createLogin.$submitted && createLogin.age.$invalid) || (createLogin.age.$touched && createLogin.age.$invalid)">
                        <p ng-show="createLogin.age.$error.required">This field is required</p>
                        <p ng-show="createLogin.age.$error.number">Enter a valid Age<p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">State</label>
                <div class="control">
                <div class="select is-info is-fullwidth">
                    <select name="state">
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Puducherry">Puducherry</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                </div>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Reason</label>
                <div class="control">
                <div class="select is-info is-fullwidth">
                    <select name="reason">
                    <option value="Travel Abroad">Travel Abroad</option>
                    <option value="Travel Within Country">Travel Within Country</option>
                    <option value="Person to Person">Person to Person</option>
                    </select>
                </div>
                </div>
            </div>

            
            <div class="field is-grouped is-grouped-center">
                <p>
                <button class="button is-link" name="submit" type="submit">Submit</button>
                </p>
                
            </div>
        </section>
    </form>
</div>
{% endblock %}