{% extends "components/base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title text-center arvo h1">
            Covid-19 Symptoms
        </h1>
        <hr>

        <div class="row">
            <div class="column text-center">
                <img src="https://www.gstatic.com/healthricherkp/covidsymptoms/light_fever.gif" alt="Snow" style="width:20%">
                <p>Fever</p>
    
    
            </div>
            <div class="column text-center">
                <img src="https://www.gstatic.com/healthricherkp/covidsymptoms/light_cough.gif" alt="Snow" style="width:20%">
                <p>Dry Cough</p>
    
            </div> 
            <div class="column text-center">
                <img src="https://www.gstatic.com/healthricherkp/covidsymptoms/light_tiredness.gif" alt="Snow" style="width:20%">
                <p>Tiredness</p>
    
            </div>
        </div>
        <div class="text-center">
            <p>▸COVID-19 affects different people in different ways. Most infected people will develop mild to moderate
                illness and recover without hospitalization.</p>


            <p><b>▸Most common symptoms:</b></p>

            <ul><li>Fever</li><li>Dry Cough</li>
            <li>Tiredness</li></ul>
            
            <br>



            <p><b>▸Less common symptoms:</b></p>

            <ul>Aches and Pains</ul>
            <ul>Sore Throat</ul>
            <ul>Diarrhoea</ul>
            <ul>Conjunctivitis</ul>
            <ul>Headache</ul>
            <ul>Loss of Taste or Smell</ul>
            <ul>A Rash on Skin, or Discolouration of Fingers or Toes</ul>
            <br>
            <p><b>▸Serious symptoms:</b></p>

            <ul>Difficulty Breathing or Shortness of Breath</ul>
            <ul>Chest Pain or Pressure</ul>
            <ul>Loss of Speech or Movement</ul>
            <br>
            <p>▸Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or
                health facility.</p>
            <p>▸People with mild symptoms who are otherwise healthy should manage their symptoms at home.</p>
                <p>▸On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it
                can take up to 14 days.</p>
            <br>
        </div>
    </div>
</section>

{% endblock %}