<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Covid19-Tracker</title>
        {% block head_main %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link href='https://fonts.googleapis.com/css?family=Arvo|Kanit' rel='stylesheet'>
        {% endblock %}
        <style>
            .kanit {
                font-family: Kanit;
            }
            .arvo {
                font-family: Arvo;
            }
            .card{
                transition: transform .2s;
            }
            .card:hover{
                transform: scale(1.1);
            }
            marquee {
                display: flex;
                justify-content: space-between;
            }
            span{
                margin-right: 100px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
            <!-- Navbar content -->
            <a class="navbar-brand" href="#"><img src="https://media.tghn.org/medialibrary/2020/04/covid19_logo.png" class="img-fluid" width="150px" height="20px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/"> Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/patient"> Add Patient </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/search"> Search Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/report"> Generate Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/assess"> Self-Assessment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/symptoms">Covid-19 Symptons</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if session.logged_in %}
                    <ul class="navbar-nav">
                        <li class="nav-item mr-2"><a class="nav-link btn btn-light" href="/logout">Logout</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-light" href="/edit">Delete</a></li>
                    </ul>
                    
                    {% else %}
                    <a class="nav-link btn btn-light" href="/login">Login</a>
                    {% endif %}
                </span>
            </div>
        </nav>
        <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://www.oneindia.com/images/xcovd-logo.png.pagespeed.ic.UQh8ZJsnfH.png" width="112" height="28">
                </a>
            
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start text-right">
                    <a class="navbar-item" href="/">
                    Dashboard
                    </a>
            
                    <a class="navbar-item" href="/patient">
                    Patient Form
                    </a>
                    
                </div>
            
                <div class="navbar-end">
                    <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/report">
                        <strong>Generate Report</strong>
                        </a>
                        <a class="button is-light" href = "/search">
                        Search
                        </a>
                    </div>
                        {% if session.logged_in %}
                        <li style="float:right"><a href="/logout">logout</a></li>
                        <li style="float:right"><a href="/edit">edit</a></li>
                        {% else %}
                        <li style="float:right"><a href="/login">login</a></li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav> -->
        <br>
        <marquee>
            <span class="text-primary">Coronavirus Helpline Details & Highlights : </span>
            <span>(24/7) National Helpline Number: <strong>+91-11-23978046 or 1075</strong></span>
            <span>(24/7) State Helpline Number: <strong> 104</strong></span>
            <span>The Helpline Email ID for combating coronavirus : <strong> ncov2019@gov.in</strong></span>
            <span>Contribute in Fight Against Coronavirus by helping financially at :  <strong><a>https://www.pmcares.gov.in/en/</a></strong></span>
        </marquee>
        {% block content %}
        {% endblock content %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
                if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                    $navbarBurgers.forEach( el => {
                        el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                        });
                    });
                }

            });
        </script>
  </body>
</html>