<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Covid-Tracker</title>
        {% block head_main %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        {% endblock %}
        <style>
            .container{
                /* border: 1px solid black; */
            }
            .card{
                transition: transform .2s;
            }
            .card:hover{
                transform: scale(1.1);
            }
            marquee {
                display: flex;
                justify-content: space-between;
            }
            span{
                margin-right: 100px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://www.oneindia.com/images/xcovd-logo.png.pagespeed.ic.UQh8ZJsnfH.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            </div>
        
            <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                Dashboard
                </a>
        
                <a class="navbar-item" href="/patient">
                Patient Form
                </a>
                
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/report">
                    <strong>Generate Report</strong>
                    </a>
                    <a class="button is-light" href = "/search">
                    Search
                    </a>
                </div>
                    {% if session.logged_in %}
                      <li style="float:right"><a href="/logout">logout</a></li>
                      <li style="float:right"><a href="/edit">edit</a></li>
                    {% else %}
                      <li style="float:right"><a href="/login">login</a></li>
                    {% endif %}
                </div>
            </div>
            </div>
        </nav>
        <br>
        <marquee>
            <span style="color: green;">Latest Helplines and Services</span>
            <span>(24/7)The Helpline Number for corona-virus:<strong>079-23250818 (Health), 079-23251900 (SEOC)</strong></span>
            <span>The Helpline Email ID for corona-virus :<strong> ssoidsp@gmail.com</strong></span>
            <span>WhatsApp Helpline number - <strong>+91 7433000104</strong></span>
        </marquee>
        {% block content %}
        {% endblock content %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
                if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                    $navbarBurgers.forEach( el => {
                        el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                        });
                    });
                }

            });
        </script>
  </body>
</html>